{% extends 'dashboard/core/core.html' %}
{% load static %}

{% block Home %}
active
{% endblock %}

{% block content %}
<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <h2 class="my-4">Welcome to Egyptian Car License Plate Information Detection
        <br>
        <small>Please upload an Image or Video</small>
    </h2>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <!-- IMPORTANT enctype attribute! -->
            <form id="my-awesome-dropzone" class="dropzone" action="{% url 'index' %}" method="post"
                  enctype="multipart/form-data">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <select class="selectpicker form-control" name="localization">
                                <option value="None" selected>No localization</option>
                                {% for strategy in localization_strategies %}
                                <option value="{{strategy}}">{{strategy}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <select class="selectpicker form-control" name="segmentation">
                                <option value="None" selected>No Segmentation</option>
                                {% for strategy in segmentation_strategies %}
                                <option value="{{strategy}}">{{strategy}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-xs-4">
                        <div class="form-group">
                            <select class="selectpicker form-control" name="classification">
                                <option value="None" selected>No Classification</option>
                                 {% for strategy in classification_strategies %}
                                <option value="{{strategy}}">{{strategy}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                {% csrf_token %}
            </form>
            <h4 id="info-wait" class="my-4">Detected images will be shown in this section</h4>
            <h3 id="please_wait" class="my-4">Please Wait</h3>
            <h3 id="final_result" class="my-4">Final Result</h3>
        </div>

        <div class="col-md-4">
            <h4 class="my-3">Project Description</h4>
            <p style="font-size:14px">This project is concerned with cars exceeding speed limit captured by the radar,
                main idea is to automate this system by implementing an application which extract
                license information from images taken by radar. Our point of concern is to apply the
                process on Arabic license plates. Our application is able to recognize the Arabic characters
                and numbers from images of license plates.</p>
            <h4 class="my-3">Project Details</h4>
            <ul style="font-size:14px">
                <li>We prepared a dataset for various kinds of car plates found in Egypt</li>
                <li>We tried to cover all possible real-life conditions regarding images for the plates</li>
                <li>We made a survey to know any kind of work related to ours and there is no such a project found in Egypt</li>
                <li>We prepared a neat package for the source code and there is a full documentation for it</li>
            </ul>
        </div>
         <!-- Related Projects Row -->


    </div>
    <!-- /.row -->
    <div id="image_container" class="row">

        <!-- below element is added by jquery --!>
       <!-- <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="/media/Caaaapture_PO3gORc.PNG"><img width="500" height="200" class="card-img-top"
                                                             src="/media/Caaaapture_PO3gORc.PNG"
                                                             alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Full</a>
                    </h4>
                    <p class="card-text">Time stamp and result</p>
                </div>
            </div>
        </div>-->

    </div>


    <!-- /.row -->

</div>

<br>
<br>


{% endblock %}